<h1>Projects</h1>

<ul>
{{#each models}}
  <li>
    <a href="/projects/{{owner}}/{{id}}"><img src="/assets/images/{{owner}}/{{id}}-l.png" width=80 height=80></img></a>
    by <a href="/users/{{owner}}">{{owner}}</a>
    <a href="/projects/{{owner}}/{{id}}"><h5>{{name}}</h5></a>
  </li>
{{/each}}
</ul>
