<div>
  <div><img src="/assets/images/{{owner}}/{{id}}-l.png"></img></div>
</div>
<div>
  <h3>{{name}}</h3>
  <div>by <a href="/users/{{owner}}">{{owner}}</a></div>
  {{#if origin.user}}
  <div>forked from <a href="/projects/{{origin.user}}/{{origin.proj}}">{{origin.user}}</a></div>
  {{/if}}
   <div><label>Description: <p>{{description}}</p></label></div>
   <div><label>Star: <p>{{starred.length}}</p></label></div>
</div>
