<div>
  <div class="background"><img src="/assets/images/projects/{{owner}}/{{id}}-l.png" width=160 height=160></img></div>
  <div class="foreground"><img src="/assets/images/pages/play-overlay.png" width=160 height=160></img></div>
  <div class="foreground none"><img src="/assets/images/pages/pause-overlay.png" width=160 height=160></img></div>
</div>
<div>
  <h3>{{name}}</h3>
  <div>by <a href="/users/{{owner}}">{{owner}}</a></div>
  {{#if origin.user}}
  <div>forked from <a href="/projects/{{origin.user}}/{{origin.proj}}">{{origin.user}}</a></div>
  {{/if}}
   <div><label>Description: <p>{{description}}</p></label></div>
   <div><label>Star: <p>{{starred.length}}</p></label></div>
</div>
