<div class="cover-art">
  <div class="background"><img src="/assets/images/projects/{{owner}}/{{id}}-l.png" width=200 height=200></img></div>
  <div class="foreground" id="play"><img src="/assets/images/pages/play-overlay.png" width=200 height=200></img></div>
  <div class="foreground none" id="pause"><img src="/assets/images/pages/pause-overlay.png" width=200 height=200></img></div>
</div>
<div class="project-descriptions">
  <h3>{{name}}</h3>
  <h4>Owner:</h4>
  <div><a href="/users/{{owner}}">{{owner}}</a></div>
  {{#if origin.user}}
  <h4>Forked from:</h4>
  <div><a href="/projects/{{origin.user}}/{{origin.proj}}">{{origin.user}}</a></div>
  {{/if}}
  <h4>Description:</h4>
  <p>{{description}}</p>
  <h4>Star:</h4>
  <div>{{starred.length}}</div>
</div>
<div class="tracks">
    <h3>Tracks</h3>
    {{view "project_tracks_view" tracks=tracks self=self}}
    <div class="fork-button">
    {{#if loggedIn}}
      {{#if self}}
        <button id="add-new-track">Add new track!</button>
      {{else}}
        {{#if youForked}}
          <button disabled>You already forked this project</button>
        {{else}}
          <a href="/fork/{{owner}}/{{id}}/{{you}}"><button>Fork this project!</button></a>
        {{/if}}
      {{/if}}
    {{/if}}
    </div>
</div>
