<img src="{{avatar}}" width=200 height=200> {{id}} ({{projects.length}} public projects)

<br>

<div class="row-fluid">
  <div class="span6">
    {{view "user_projects_view" collection=projects}}
  </div>

  <div class="span6">
    <h3>Info</h3>
    <br>
    <table class="info-table table">
      <tr>
        <th>Location</th>
        <td>{{location}}</td>
      </tr>
      <tr>
        <th>Company</th>
        <td>{{company}}</td>
      </tr>
    </table>
  </div>
</div>
