<table class="tracks-table table">
  <thead>
    <tr>
      {{#if self}}<th></th>{{/if}}
      <th></th>
      <th>#</th>
      <th>Name</th>
      <th>Owner</th>
      {{#if self}}{{#unless ../record}}<th></th>{{/unless}}{{/if}}
    </tr>
  </thead>
  <tbody>
  {{#each tracks}}
    <tr>
      {{#if ../self}}<td><input type="checkbox" id="nonInteractive" checked="{{enabled}}"></td>{{/if}}
      <td><button data-url="{{url}}">Play</button></td>
      <td>{{math @index "+" 1}}</td>
      <td>{{label}}</td>
      <td>{{owner}}</td>
      {{#if ../self}}{{#unless ../../record}}<td><button id="delete-{{@index}}">Delete</button></td>{{/unless}}{{/if}}
    </tr>
  {{/each}}
  </tbody>
</table>
